.logo h1 {
    background-image: url(https://cdn.dribbble.com/users/167024/screenshots/973328/material_gradient.gif);
    
    background-size: cover;
    color: gradient
;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    padding: 10px;
    font-size: 3em;
    text-align:center;
}


.logo img {
    width: 40px;
}
